.project:hover img {
    transform: scale(1.3);
}

.project:hover .card-body {
    background: #a723ff;
}

.project:hover h2 {
    color: #fff;
}

.project:hover p {
    color: #fff;
}

.project:hover a {
    background: #fff;
    color: #ff3c00;
}